@{
    ViewData["Title"] = "Home Page";
}
<br/>
<br/>
<br/>
<div class="text-center">
     <h2 class="display-4" style="font-weight:bold">Welcome to To Do List</h2>
     <br />
     <br />
     <h3 style="font-weight:normal">Add your tasks and organize your life.</h3>
     <br/>
     <img src="~/img/paper.png" width="150px"/>
</div>
